@model WriterMessage
@{
    ViewData["Title"] = "ReceiverMessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

    <label>GÖNDEREN</label>
    <input type="text" asp-for="SenderName" class="form-control" />
    <br />
    <label>TARİH</label>
    <input type="text" asp-for="Date" class="form-control" />
    <br />
    <label>KONU</label>
    <input type="text" asp-for="Subject" class="form-control" />
    <br />
    <br />
    <label>MESAJ</label>
    <textarea type="text" asp-for="Content" class="form-control"></textarea>