@model Feature
@{
    ViewData["Title"] = "AddFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">HAKKIMDA ALANI EKLE</h3>
</div>
<div>
    <br />
    <form method="post">
        <label>BAŞLIK</label>
        <input type="text" asp-for="Header" class="form-control" />
        <br />

        <label>AD SOYAD</label>
        <input type="file" asp-for="Name" class="form-control" />
        @Html.ValidationMessageFor(x=>x.Name,"",new{@class="text-danger"})
        <br />

        <label>UNVAN</label>
        <input type="file" asp-for="Title" class="form-control" />
        <br />

        <button type="submit" class="btn btn-success">KAYDET</button>
    </form>
</div>