@model Experience
@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">Deneyim Güncelle</h3>
</div>
<div>
    <form class="form-control" method="post">
        <input type="hidden" asp-for="ExperinceID" />
        @Html.Label("Deneyim Adı")
        <input type="text" asp-for="Name" class="form-control" />
        <br />
        @Html.Label("Deneyim Tarihi")
        <input type="text" asp-for="Date" class="form-control" />
        <br />
        @Html.Label("Deneyim Açıklaması")
        <textarea asp-for="Description" class="form-control"></textarea>
        <br />
        <button type="submit" class="btn btn-success">KAYDET</button>
    </form>
</div>
