@model List<WriterMessage>
@{
    ViewData["Title"] = "SenderMessageList";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    int count = 0;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">YAZA-ADMİN GİDEN KUTUSU</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ALICI</th>
                            <th>KONU</th>
                            <th>TARİH</th>
                            <th>SİL</th>
                            <th>MESAJI AÇ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <th>@count</th>
                                <td class="budget">@item.ReceiverName</td>
                                <td> @item.Subject</td>
                                <td>@item.Date.ToShortDateString()</td>
                                <td><a href="/AdminMessage/SenderDeleteMessage/@item.WriterMessageID" class="btn btn-outline-danger">SİL</a></td>
                                <td><a href="/AdminMessage/SenderDetailMessage/@item.WriterMessageID" class="btn btn-outline-success">AÇ</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <a href="/AdminMessage/AddMessage" class="btn btn-outline-primary">YENİ MESAJ OLUŞTUR</a>
        </div>
    </div>
</div>