@model Skill
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">YENİ YETENEK EKLEME PANELİ</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Yetenek Başlığı</label>
                    <input type="text" asp-for="Title" class="form-control" />
                </div>
                <div class="form-gr oup">
                    <label>Oran</label>
                    <input type="text" asp-for="Value" class="form-control" />
                </div>

                <button type="submit" class="btn btn-outline-primary mr-2">GÜNCELLE</button>
            </form>
        </div>
    </div>
</div>

